[submodule "themes/codex"]
	path = themes/codex
	url = https://github.com/jakewies/hugo-theme-codex.git
[submodule "content/hugo-researcher"]
	path = content/hugo-researcher
	url = https://github.com/ojroques/hugo-researcher
[submodule "themes/hugo-researcher"]
	path = themes/hugo-researcher
	url = https://github.com/ojroques/hugo-researcher
[submodule "themes/etch"]
	path = themes/etch
	url = https://github.com/LukasJoswiak/etch.git
