* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}
body {
	background-color: #B99946;
	color: #fff;
	font-family:"Helvetica Neue";
}
.name {
	float:left;
	width: 768px;
}
.side_bar{
	border-left: 5px solid #333;
	color: #000;
	float: right;
	padding-left:5px;
	margin-top: -170px;
	width: 244px;
}

.name h4 {
	font-weight: 100;
}
.name h1 {
	font-size: 150pt;
	line-height: 1em;
}
.wrap {
	width: 1024px;
	margin: 0 auto;
}
.elevator_pitch {
	letter-spacing: 2px;
	float: left;
	width: 718px;
	background-color:;
	padding:20px;
	color: #eee;
	background-color:#556;
}

.elevator_pitch h3 {
	font-weight: 100;
}

.elevator_pitch h5 {
	font-weight: 100;
}
.footer {
	float:left;
	padding:20px;
	width:728px;
	color:#000;
}
.side_bar h3 {
	font-weight: 200;
	text-transform: uppercase;
}
.side_bar h2 {
	font-size: 1.5em;
}
.side_bar h2, .side_bar h4 {
	padding-bottom: 10px;
	font-family:georgia;
}
.footer .justify {
	text-transform:uppercase;
}